<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>OLMIS REPORTS</display-name>
    <distributable/>
    <servlet>
        <servlet-name>ADDYEARMONTH</servlet-name>
        <servlet-class>CODE.ADDYEARMONTH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MONTHYEAR</servlet-name>
        <servlet-class>CODE.MONTHYEAR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Trial.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSummary</servlet-name>
        <servlet-class>CODE.DataSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadcbos</servlet-name>
        <servlet-class>OLMIS.loadcbos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PEPFARREPORT</servlet-name>
        <servlet-class>OLMIS.PEPFARREPORT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OLMISPEPFARSTOREDPROCEDURE</servlet-name>
        <servlet-class>OLMIS.OLMISPEPFARSTOREDPROCEDURE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OLMIS_JAVACODE</servlet-name>
        <servlet-class>OLMIS.OLMIS_JAVACODE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>database.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copytemplates</servlet-name>
        <servlet-class>SCRIPTS.copytemplates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loadclusters</servlet-name>
        <servlet-class>OLMIS.Loadclusters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHVReportingRatesSummary</servlet-name>
        <servlet-class>OLMIS.CHVReportingRatesSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitSummary</servlet-name>
        <servlet-class>OLMIS.ExitSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PepfarSummary</servlet-name>
        <servlet-class>OLMIS.PepfarSummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NeedsVsServed</servlet-name>
        <servlet-class>OLMIS.NeedsVsServed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsolidatedReport</servlet-name>
        <servlet-class>OLMIS.ConsolidatedReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BenefitiaryList</servlet-name>
        <servlet-class>OLMIS.BenefitiaryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OVCregistrationList</servlet-name>
        <servlet-class>OLMIS.OVCregistrationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPerMonth</servlet-name>
        <servlet-class>OLMIS.RegistrationPerMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationByCHVHH</servlet-name>
        <servlet-class>OLMIS.RegistrationByCHVHH</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADDYEARMONTH</servlet-name>
        <url-pattern>/ADDYEARMONTH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MONTHYEAR</servlet-name>
        <url-pattern>/MONTHYEAR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSummary</servlet-name>
        <url-pattern>/DataSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadcbos</servlet-name>
        <url-pattern>/loadcbos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PEPFARREPORT</servlet-name>
        <url-pattern>/PEPFARREPORT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OLMISPEPFARSTOREDPROCEDURE</servlet-name>
        <url-pattern>/OLMISPEPFARSTOREDPROCEDURE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OLMIS_JAVACODE</servlet-name>
        <url-pattern>/OLMIS_JAVACODE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copytemplates</servlet-name>
        <url-pattern>/copytemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loadclusters</servlet-name>
        <url-pattern>/Loadclusters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHVReportingRatesSummary</servlet-name>
        <url-pattern>/CHVReportingRatesSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitSummary</servlet-name>
        <url-pattern>/ExitSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PepfarSummary</servlet-name>
        <url-pattern>/PepfarSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NeedsVsServed</servlet-name>
        <url-pattern>/NeedsVsServed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsolidatedReport</servlet-name>
        <url-pattern>/ConsolidatedReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BenefitiaryList</servlet-name>
        <url-pattern>/BenefitiaryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OVCregistrationList</servlet-name>
        <url-pattern>/OVCregistrationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPerMonth</servlet-name>
        <url-pattern>/RegistrationPerMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationByCHVHH</servlet-name>
        <url-pattern>/RegistrationByCHVHH</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
</web-app>
